# Start Generation Here
# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Local environment variables
.env
# End Generation Here


# 
data/mysql/*
data/wikipedia/


# ignore all .parquet files
*.parquet
data/visindavefur_articles.json
data/wikipedia_meta/test/pageviews-202309-user.bz2
data/wikipedia_meta/test/test_data.txt
